.main-visual
  .main-visual__container
    %h1.main-visual__logo-set
      .main-visual__kamon= image_tag('icon-kamon.svg', class: 'main-visual__kamon-image')
      .main-visual__logo
        = partial('partials/logo')
    .main-visual__information
      %p.main-visual__date= data.information.date
      %p.main-visual__venue
        於:
        = link_to data.information.venue.url, target: 'blank' do
          = data.information.venue.city
          = data.information.venue.name
      %p.main-visual__venue-address= data.information.venue.address
      = link_to 'Google Map', data.information.venue.map_url, target: '_blank', class: 'main-visual__map-link'
    .main-visual__registration
      = link_to data.information.registration.url, target: '_blank', class: 'main-visual__registration-button' do
        参加チケット購入
